.App {
  /* height: 100vw; */
  /* background-color: black; */
  background: black;
  color: white;
  overflow: hidden;
  max-width: 100vw;
}

.App-body {
  display: contents;
}

.call-to-action {
  text-align: center;
  background-size: 100% 100%;
  /* margin: 15vw; */
  padding: 10vw;
  /* height: 70vw */
}

.text-array {
  display: grid;
  margin: 0 auto;
  width: 30%;
}

.button-container {
  padding: 10px;
}

.nav-links {
  /* padding-left: 400px !important; */
}

.nav-link {
  padding-left: 150px !important;
  font-size: 20px;
}

.nav-container {
  background: none !important;
  color: white !important;
  margin: 0 !important;
}

.header-image {
  filter: invert(1);
  height: 50px;
}

.header-title {
  font-size: 30px;
}

.btn {
  /* background: rgba(97, 89, 89); */
  margin: 10px;
}

#iridium-title {
  font-size: 4em;
}

#iridium-tagline {
  font-size: 1em;
}

.section {
  display: grid;
  float: left;
}

.section-title {
  margin: 10px;
  font-size: 3em;
}

.description {
  border: 2px solid black;
  float: right;
  /* margin-left: 100px; */
  width: 18rem;
  padding: 10px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .about {
    display: grid;
  }  
  .demo-container {
    text-align: center;
    width: 100%;
    padding: 30px;
  }
  .info-container {
    margin: 0 auto;
    width: 50%;
  }
}

@media only screen  and (min-width : 1224px) {
  .about {
    display: flex;
  }
  .info-container {
    margin: 0 auto;
    width: 40%;
  }
  .demo-container {
    width: 40%;
  }
}

.about {
  padding: 50px;
  background: rgb(62, 47, 199);
  font-family: 'Verdana';
  /* display: flex; */
}

.icon-container {
  font-size: 20px;
}

.contact {
  padding: 50px;
}

.fa-icons {
  padding: 50px;
}

.fa-icons > a {
  /* margin-right: 10px; */
  padding: 10px;
}

#fa-icon {
  font-size: 30px;
  color: white;
}

#fa-icon:hover {
  color: blue;
}

.footer {
  margin: 10px;
}